{% extends "layout.html" %}

{% block content %}
<h2 class="Cohesive_headline">Lisää pelivuoro</h2>
<div class="Cohesive_framework">
    <form action="/create_shift" method="post">
        <div class="Cohesive_form_line">
            <label for="location">Paikka:</label>
            <select id="location" name="location" required>
                <option value="" disabled selected>Valitse paikka...</option>
                <option value="Kluuvi Unisport">Kluuvi Unisport</option>
                <option value="Kumpula Unisport">Kumpula Unisport</option>
                <option value="Meilahti Unisport">Meilahti Unisport</option>
                <option value="Otaniemi Unisport">Otaniemi Unisport</option>
                <option value="Töölö Unisport">Töölö Unisport</option>
                <option value="Viikki Unisport">Viikki Unisport</option>
            </select>
        </div>

        <div class="Cohesive_form_line">
            <label for="time">Aika:</label>
            <input type="datetime-local" name="time" required />
        </div>

        <div class="Cohesive_form_line">
            <label for="player_level">Taso:</label>
            <select id="player_level" name="player_level" required>
                <option value="" disabled selected>Valitse taso...</option>
                <option value="aloittelija">Aloittelija</option>
                <option value="harrastaja">Harrastaja</option>
                <option value="kilpa">Kilpataso</option>
            </select>
        </div>

        <div class="Cohesive_form_line">
            <label for="total_players">Määrä:</label>
            <select id="total_players" name="total_players" required>
                <option value="" disabled selected>Valitse pelaajamäärä...</option>
                <option value="2">2 pelaajaa</option>
                <option value="4">4 pelaajaa</option>
            </select>
        </div>

        <div class="button_container">
            <button type="submit" class="button button-default">Lisää vuoro</button>
        </div>
    </form>
</div>
{% endblock %}