{% extends "layout.html" %}

{% block content %}
<h2 class="Cohesive_headline">Lisää pelivuoro</h2>
<div class="Cohesive_framework">
    <form action="/create_shift" method="post">
        <div class="Cohesive_form_line">
            <label for="location">Paikka:</label>
            <select id="location" name="location" required>
                <option value="" disabled selected>Valitse paikka...</option>
                <option value="Kluuvi Unisport">Kluuvi Unisport</option>
                <option value="Kumpula Unisport">Kumpula Unisport</option>
                <option value="Meilahti Unisport">Meilahti Unisport</option>
                <option value="Otaniemi Unisport">Otaniemi Unisport</option>
                <option value="Töölö Unisport">Töölö Unisport</option>
                <option value="Viikki Unisport">Viikki Unisport</option>
            </select>
        </div>

        <div class="Cohesive_form_line">
            <label for="day">Päivämäärä:</label>
            <input type="date" id="day" name="day" required>
        </div>

        <div class="Cohesive_form_line">
            <label for="hours">Kellonaika:</label>
            <div class="time_select_group">
                <select id="hours" name="hours" required>
                    {% for h in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23'] %}
                        <option value="{{ h }}">{{ h }}</option>
                    {% endfor %}
                </select>

                <select id="minutes" name="minutes" required>
                    <option value="" disabled selected>Minuutti</option>
                    <option value="00">00</option>
                    <option value="30">30</option>
                </select>
            </div>
        </div>

        <div class="Cohesive_form_line">
            <label for="player_level">Pelaajien taso:</label>
            <select id="player_level" name="player_level" required>
                <option value="" disabled selected>Valitse pelaajien taso...</option>
                <option value="Aloittelija">Aloittelija</option>
                <option value="Harrastaja">Harrastaja</option>
                <option value="Kilpataso">Kilpataso</option>
            </select>
        </div>

        <div class="Cohesive_form_line">
            <label for="total_players">Määrä:</label>
            <select id="total_players" name="total_players" required>
                <option value="" disabled selected>Valitse pelaajamäärä...</option>
                <option value="2">2 pelaajaa</option>
                <option value="4">4 pelaajaa</option>
            </select>
        </div>

        <div class="button_container">
            <button type="submit" class="button button-default">Lisää vuoro</button>
        </div>
    </form>
</div>
{% endblock %}