{% extends "layout.html" %}

{% block content %}
<h2 class="Cohesive_headline">Päivitä omia tietoja</h2>
<div class="Cohesive_framework">
    <form action="/edit_info" method="POST">

        <div class="Cohesive_form_line">
            <label for="player_level">Pelaajan taso:</label>
            <select id="player_level" name="player_level" required>
                <option value="" disabled {% if not info[0].player_level %}selected{% endif %}>Valitse pelaajien taso...</option>
                <option value="Aloittelija" {% if info[0].player_level == 'Aloittelija' %}selected{% endif %}>Aloittelija</option>
                <option value="Harrastaja" {% if info[0].player_level == 'Harrastaja' %}selected{% endif %}>Harrastaja</option>
                <option value="Kilpataso" {% if info[0].player_level == 'Kilpataso' %}selected{% endif %}>Kilpataso</option>
            </select>
        </div>

        <div class="Cohesive_form_line">
            <label for="description">Kuvaus:</label>
            <textarea name="description" rows="5" style="width: 400px; max-width: 100%; resize: none;">{{ info[0].description if info[0].description else '' }}</textarea>
        </div>
        
        <div class="button_container">
            <button type="submit" class="button button-default">Tallenna</button>
            <a href="/my_info" class="button button-red" style="text-decoration: none;">Takaisin</a>
        </div>
    </form>
</div>
{% endblock %}