{% extends "layout.html" %}

{% block content %}
<h2 class="Cohesive_headline">Etusivu</h2>
<div class="Cohesive_framework">
    <h3 class="homepage_form_title">Avoimet pelivuorot ({{ upcoming_count }})</h3>
    
    {% if upcoming_count == 0 %}
        <p class="Empty">Ei avoimia pelivuoroja tällä hetkellä.</p>
    {% else %}
        {% for shift in upcoming %}
            <div class="shift_row">
                <div class="shift-texts">
                    <strong>Lisäsi</strong> {{ shift['username'] }} | 
                    <strong>Paikka:</strong> {{ shift['location'] }}
                    <br>
                    <strong>Aika:</strong> {{ shift['time'] }} | 
                    <strong>Pelaajat:</strong> {{ shift['player_count'] }}/{{ shift['total_players'] }}
                </div>
                
                {% if session and session.get('user_id') == shift['user_id'] %}
                    <a href="/edit_shift/{{ shift['id'] }}" class="button button-red">Muokkaa</a>
                {% else %}
                    {% if session.username %}
                        <button type="submit" class="button button-default">Ilmoittaudu</button>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}