{% extends "layout.html" %}

{% block content %}
<h2 class="Cohesive_headline">Kirjaudu sisään</h2>
<div class="Cohesive_framework">
    <form action="/login" method="post">
        <div class="Cohesive_form_line">
            <label for="username">Käyttäjätunnus:</label>
            <input type="text" name="username" />
        </div>

        <div class="Cohesive_form_line">
            <label for="password">Salasana:</label>
            <input type="password" name="password1" />
        </div>

        <div class="button_container">
            <button type="submit" class="button button-default">Kirjaudu</button>
        </div>
    </form>
</div>
{% endblock %}