{% extends "layout.html" %} {% block content %}
<h2 class="Cohesive_headline">Omat ilmoittautumiset</h2>
<div class="Cohesive_framework">
  <h3 class="Cohesive_form_title">Tulevat vuorot ({{ upcoming|length }})</h3>

  {% if upcoming_count == 0 %}
  <p class="Empty">Ei tulevia pelivuoroja tällä hetkellä.</p>
  {% else %} {% for slot in upcoming %}
  <div class="slot_row">
    <div class="slot-texts">
      <strong>Lisäsi</strong>
      <a href="/my_info/{{ slot['user_id'] }}" style="color: #ff8552; text-decoration: underline; font-weight: bold"
        >{{ slot['username'] }}</a
      >
      | <strong>Paikka:</strong> {{ slot['location'] }}
      <br />
      <strong>Aika:</strong> {{ slot['time'] }} | <strong>Pelaajat:</strong> {{ slot['player_count'] }}/{{ slot['total_players'] }}
    </div>
    {% if slot['user_id'] == session['user_id'] %}
    <a href="/edit_slot/{{ slot['id'] }}" class="button">Muokkaa</a>
    {% endif %}
    <a href="/signup/{{ slot['id'] }}" class="button">Tiedot</a>
  </div>
  {% endfor %} {% endif %}
</div>

<div class="Cohesive_framework">
  <h3 class="Cohesive_form_title">Menneet vuorot ({{ past|length }})</h3>

  {% if past_count == 0 %}
  <p class="Empty">Ei menneitä pelivuoroja.</p>
  {% else %} {% for slot in past %}
  <div class="slot_row past">
    <div class="slot-texts">
      <strong>Lisäsi</strong>
      <a href="/my_info/{{ slot['user_id'] }}" style="color: #ff8552; text-decoration: underline; font-weight: bold"
        >{{ slot['username'] }}</a
      >
      | <strong>Paikka:</strong> {{ slot['location'] }}
      <br />
      <strong>Aika:</strong> {{ slot['time'] }} | <strong>Pelaajat:</strong> {{ slot['player_count'] }}/{{ slot['total_players'] }}
    </div>
  </div>
  {% endfor %} {% endif %}
</div>

{% endblock %}
