{% extends "layout.html" %}

{% block content %}
<h2 class="my_shifts_headline">Omat vuorot</h2>
<div class="my_shifts_form_framework">
    <h3 class="my_shifts_form_title">Tulevat vuorot ({{ upcoming_count }})</h3>
    
    {% if upcoming_count == 0 %}
        <p class="Empty">Ei tulevia pelivuoroja tällä hetkellä.</p>
    {% else %}
        {% for shift in upcoming %}
            <div class="shift_message">
                <div class="shift-texts">
                    <strong>Lisäsi</strong> {{ shift['username'] }} | <strong>Paikka:</strong> {{ shift['location'] }}
                    <br>
                    <strong>Aika:</strong> {{ shift['time'] }} | <strong>Pelaajat:</strong> {{ shift['player_count'] }}/{{ shift['total_players'] }}
                </div>
                <a href="/edit_shift/{{ shift['id'] }}" class="sign_up_button_edit">Muokkaa</a>
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="my_shifts_form_framework">
    <h3 class="my_shifts_form_title">Menneet vuorot ({{ past_count }})</h3>
    
    {% if past_count == 0 %}
        <p class="Empty">Ei menneitä pelivuoroja.</p>
    {% else %}
        {% for shift in past %}
            <div class="past_shift_message">
                <div class="shift-texts">
                    <strong>Lisäsi</strong> {{ shift['username'] }} | <strong>Paikka:</strong> {{ shift['location'] }}
                    <br>
                    <strong>Aika:</strong> {{ shift['time'] }} | <strong>Pelaajat:</strong> {{ shift['player_count'] }}/{{ shift['total_players'] }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}