{% extends "layout.html" %}

{% block content %}
<h2 class="Cohesive_headline">Luo tunnus</h2>

<div class="Cohesive_framework">
    <form action="/create" method="POST">
        <div class="Cohesive_form_line">
            <label for="username">Käyttäjätunnus:</label>
            <input type="text" id="username" name="username" required>
        </div>
        
        <div class="Cohesive_form_line">
            <label for="password">Salasana:</label>
            <input type="password" id="password1" name="password1" required>
        </div>

        <div class="Cohesive_form_line">
            <label for="password_confirm">Salasana uudelleen:</label>
            <input type="password" id="password2" name="password2" required>
        </div>
        
        <div class="button_container">
            <button type="submit" class="button button-default">Luo tunnus</button>
        </div>
    </form>
</div>

<p>Onko sinulla jo tunnus? <a href="/login" style="color: blue;">Kirjaudu sisään tästä</a>.</p>
{% endblock %}
