{% extends "layout.html" %}

{% block content %}
<h2 class="Cohesive_headline">Etsi vuoroja</h2>

<div class="Cohesive_framework">
    <form action="/search" method="get">
        <div class="Cohesive_form_line">
            <label for="location">Paikka:</label>
            <select id="location" name="location">
                <option value="" disabled selected>Valitse paikka...</option>
                <option value="Kluuvi Unisport">Kluuvi Unisport</option>
                <option value="Kumpula Unisport">Kumpula Unisport</option>
                <option value="Meilahti Unisport">Meilahti Unisport</option>
                <option value="Otaniemi Unisport">Otaniemi Unisport</option>
                <option value="Töölö Unisport">Töölö Unisport</option>
                <option value="Viikki Unisport">Viikki Unisport</option>
            </select>
        </div>

        <div class="Cohesive_form_line">
            <label for="day">päivämäärä:</label>
            <input type="date" name="day" />
        </div>

        <div class="Cohesive_form_line">
            <label for="player_level">Taso:</label>
            <select id="player_level" name="player_level">
                <option value="" disabled selected>Valitse taso...</option>
                <option value="Aloittelija">Aloittelija</option>
                <option value="Harrastaja">Harrastaja</option>
                <option value="kilpataso">Kilpataso</option>
            </select>
        </div>

        <div class="Cohesive_form_line">
            <label for="total_players">Määrä:</label>
            <select id="total_players" name="total_players">
                <option value="" disabled selected>Valitse pelaajamäärä...</option>
                <option value="2">2 pelaajaa</option>
                <option value="4">4 pelaajaa</option>
            </select>
        </div>

        <div class="button_container">
            <button type="submit" class="button button-default">Hae vuoroja</button>
        </div>
    </form>
</div>
<div class="Cohesive_framework">
    <h3 class="Cohesive_form_title">Tulevat vuorot ({{ results|length }})</h3>

    {% if results %}
        <p class="Empty">Tulokset.</p>
        {% for shift in results %}
            <div class="shift_row">
                <div class="shift-texts">
                    <strong>Lisäsi</strong> {{ shift['username'] }} | 
                    <strong>Paikka:</strong> {{ shift['location'] }}
                    <br>
                    <strong>Aika:</strong> {{ shift['time'] }} | 
                    <strong>Pelaajat:</strong> {{ shift['player_count'] }}/{{ shift['total_players'] }}
                </div>
                {% if session and session.get('user_id') == shift['user_id'] %}
                    <a href="/edit_shift/{{ shift['id'] }}" class="button button-red">Muokkaa</a>
                {% else %}
                    {% if shift['player_count'] < shift['total_players'] and session.username %}
                        <a href="/signup/{{ shift['id'] }}" class="button button-default">Ilmoittaudu</a>
                    {% else %}
                        <!-- Lisää jos vuoro täynnä -->
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}

    {% else %}
        <p class="Empty">Ei tuloksia.</p>
    {% endif %}
</div>


{% endblock %}
